@model List<ERPDomain.Entities.SH_USERROLE>

<p>
    @Html.ActionLink("Create New", "CreateUserAndUserRole", null, new { id = "lnkCreate2", @class = "btn btn-success" })
</p>

@using (Html.BeginForm("LoaduserRole", "SH_USER"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Batch Save" class="btn btn-success" />
    </div>

    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.SH_ROLE.RoleName)*@
                Role
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.A)*@
                Assign
            </th>

            <th></th>
            <th></th>
        </tr>

        @*@foreach (var item in Model)*@
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(modelItem => Model[i].ID)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].SH_ROLE.RoleName)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => Model[i].Assign)
                </td>
                
                <td>
                    @Html.ActionLink("Delete", "DeleteUserRole", new { userId = Model[i].SH_USERID, userRoleId = Model[i].ID }, new { @class = "lnkDelete2 btn btn-warning" })
                </td>
                <td>
                    @Html.ActionLink("View Role Access", "ViewRoleAccess", new { roleId = Model[i].SH_ROLEID }, new { @class = "lnkDetail2 btn btn-primary" })
                </td>
            </tr>
        }



    </table>

    <div class="form-group">
        <input type="submit" value="Batch Save" class="btn btn-success" />
    </div>
    <br />

}
