@model ERPDomain.Entities.CurrencyExchangeRate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrencyExchangeRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ForeignCurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForeignCurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
