@model ERPDomain.Entities.SH_APP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SH_APP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunctionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
