@model ERPDomain.Entities.Journal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JournalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReverseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReverseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromJrnID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromJrnID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
