@model ERPDomain.Entities.JournalLine
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
  $(document).ready(function ()
  {
      $(function () {
          $("#txtUnitPrice").change(function () {
              var qty = $("#txtQuantity").val();
              var unitPrice = this.value;
              $("#txtTotal").val(function () {
                  var myVar = qty * unitPrice;
                  return myVar;
              });
                  //$("#txtB").attr("disabled", "").val("Peter");
          });
          $("#txtQuantity").change(function () {
              var qty = this.value;
              var unitPrice = $("#txtUnitPrice").val();
              $("#txtTotal").val(function () {
                  var myVar = qty * unitPrice;
                  return myVar;
              });
          });
      });
  });
</script>

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Journal Line</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ChartOfAccountID)
        @Html.HiddenFor(model => model.JournalID)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Journal.JournalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Journal.JournalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Journal.JournalCode, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.JournalLineCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JournalLineCode, new { htmlAttributes = new { @class = "form-control", id = "JournalLineCode", name = "JournalLineCode" } })
                @Html.ValidationMessageFor(model => model.JournalLineCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Quantity, new { id = "txtQuantity", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UnitPrice, new { id = "txtUnitPrice", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.Total, new { id = "txtTotal", disabled = "true", htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.Total, new { id = "txtTotal", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DebitCreditIndicator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DebitCreditIndicator", new List<SelectListItem> { new SelectListItem { Text = "Debit", Value = "DR" }, new SelectListItem { Text = "Credit", Value = "CR" }})
                @Html.ValidationMessageFor(model => model.DebitCreditIndicator, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @Html.LabelFor(model => model.ChartOfAccount.AccCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("ChartOfAcc", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownList("ChartOfAcc", null, String.Empty, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.ChartOfAccountID, "", new { @class = "text-danger" })*@
                    @Html.ValidationMessageFor(model => model.AccCode, "", new { @class = "text-danger" })
                </div>
        </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.SH_APP.FunctionName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SH_APPID2", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SH_APPID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AllowRead, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.AllowRead, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AllowRead, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AllowUpdate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.AllowUpdate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AllowUpdate, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    &nbsp;&nbsp;<input type="submit" value="Cancel" id="btncancel2" />
                </div>
            </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Edit")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
