@*@model ERPDomain.Entities.Payment*@
@model ERPDomain.Models.PaymentLineModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/popupui.js"></script>

<script src="~/Scripts/popupui2.js"></script>
<script src="~/Scripts/tabui.js"></script>

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

<script type="text/javascript">
    $(document).on('invalid-form.validate', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.removeAttr('disabled');
        }, 1);
    });
    $(document).on('submit', 'form', function () {
        var button = $(this).find('input[type="submit"]');
        setTimeout(function () {
            button.attr('disabled', 'disabled');
            //alert('done');
        }, 0);
    });
</script>

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

<div id="dialog-alert2" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm2" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit2" style="display: none">
</div>
<div id="dialog-detail2" style="display: none">
</div>

<div>
    @if (TempData["Message"].ToString() != "")
    {
        <div class="Message">@TempData["Message"]</div>
    }
    @*@if (TempData["DeteleMessage"].ToString() != "")
        {
            <div class="Message">@TempData["DeteleMessage"]</div>
        }*@
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Payment</a></li>
        <li><a href="#tabs-2">Payment Line</a></li>
    </ul>

    <div id="tabs-1">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table id="" border="0" cellspacing="0" cellpadding="0">
                    <colgroup>
                        <col width="150" />
                        <col width="250" />
                        <col width="80" />
                        <col width="250" />
                    </colgroup>



                    <tr>
                        <td>
                            <font color="red">*</font>Payment Code
                        </td>
                        <td colspan="3">
                            @Html.TextBoxFor(model => model.Payment.PaymentCode, new { style = "max-width: 100%;width: 540px;margin-bottom:3px;margin-right:3px;" })
                            @Html.ValidationMessageFor(model => model.Payment.PaymentCode, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <font color="red">*</font>Vendor Code
                        </td>
                        <td>
                            @Html.DropDownList("Vendor", null, String.Empty, new { style = "width: 200px;margin-bottom:3px;margin-right:3px;" })
                            @Html.ValidationMessageFor(model => model.Payment.VendorCode, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <font color="red">*</font>Bank Code
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Payment.BankCode, new { style = "width: 210px;margin-bottom:3px;margin-right:3px;" })
                            @Html.ValidationMessageFor(model => model.Payment.BankCode, "", new { @class = "text-danger" })
                        </td>
                    </tr>



                    @*@if (Model.Payment.TotalAmount > 0)
                    {
                        <tr>
                            <td>
                                <font color="red"></font>Total Amount
                            </td>
                            <td colspan="3">
                                @Html.TextBoxFor(model => model.Payment.TotalAmount, new { disabled = "disabled", style = "max-width: 100%;width: 200px;margin-bottom:3px;margin-right:3px;text-align: right" })
                                @Html.ValidationMessageFor(model => model.Payment.TotalAmount, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    }*@

                    @*@if (Model.Payment.TotalGstAmount > 0)
                    {
                        <tr>
                            <td>
                                <font color="red"></font>Gst Amount
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Payment.TotalGstAmount, new { disabled = "disabled", style = "width: 200px;margin-bottom:3px;margin-right:3px;text-align: right" })
                            </td>
                            <td>
                                <font color="red"></font>Amount After Gst
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Payment.TotalAmountAfterGst, new { disabled = "disabled", style = "width: 210px;margin-bottom:3px;margin-right:3px;text-align: right" })
                            </td>
                        </tr>
                    }*@

                    <tr>
                        <td>
                            <font color="red"></font>Remark
                        </td>
                        <td colspan="3">
                            @Html.TextAreaFor(model => model.Payment.Remark, new { style = "max-width: 100%;width: 540px;margin-bottom:3px;margin-right:3px;height:100px", htmlAttributes = new { rows = 10 } })

                        </td>
                    </tr>


                </table>


                @*<div class="form-group">
                    @Html.LabelFor(model => model.Payment.PaymentCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Payment.PaymentCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Payment.PaymentCode, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Vendor.VendorCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Vendor", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Payment.VendorCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Payment.BankCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Payment.BankCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Payment.BankCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                

                <div class="form-group">
                    @Html.LabelFor(model => model.Payment.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Payment.Remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Payment.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="tabs-2">
        @if (Session["PaymentID"] != null)
        {
            <p>
                @Html.ActionLink("Create New", "CreatePaymentAndPaymentLine", null, new { id = "lnkCreate2" })
            </p>

            <table class="table">
                <tr>
                    <th>Payment Line</th>
                </tr>
                @if (Model.PaymentLine != null && Session["PaymentLineID"].ToString() != "")
                {
                    foreach (var item in Model.PaymentLine)
                    {
                        string selectedRow = "";
                        if (item.PaymentID == ViewBag.paymentId)
                        {
                            selectedRow = "success";
                        }
                        <tr class="@selectedRow">

                            <td>
                                @Html.DisplayFor(modelItem => item.Payment.PaymentCode)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditPaymentLine", new { paymentId = item.Payment.ID, paymentLineId = item.ID }, new { @class = "lnkEdit2" })

                            </td>
                        </tr>
                    }
                }
            </table>
        }
    </div>

</div>


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


