@using Microsoft.AspNet.Identity
@*@if (Request.IsAuthenticated)*@
@if (Session["UserEmail"] != null && (String)Session["UserEmail"] != "")
{
    //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    using (Html.BeginForm("LogOff", "SH_USER", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Welcome " + Session["UserName"] + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Logoff</a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Code<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("EN", "Index_en", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("ID", "Index_id", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("ZH", "Index_zh", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                @*<li><a href="/LT/DE">CN</a></li>
                <li><a href="/LT/EN">EN</a></li>
                <li><a href="/LT/DE">ID</a></li>*@
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink(Resources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink(Resources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li>@Html.ActionLink(Resources.Login, "Login", "SH_USER", new { Area = "" }, null)</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Code<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("EN", "Index_en", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("ID", "Index_id", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("ZH", "Index_zh", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                @*<li><a href="/LT/DE">CN</a></li>
                <li><a href="/LT/EN">EN</a></li>
                <li><a href="/LT/DE">ID</a></li>*@
            </ul>
        </li>

    </ul>
}
